/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp LCMD      &kp Q  &kp W  &kp E         &kp R        &kp T        &kp Y                 &kp U            &kp I         &kp O    &kp P      &kp SQT
&kp LCTRL     &kp A  &kp S  &kp D         &kp F        &kp G        &kp H                 &kp J            &kp K         &kp L    &kp CARET  &kp GRAVE
&kp LEFT_ALT  &kp Z  &kp X  &kp C         &kp V        &kp B        &kp N                 &kp M            &kp COMMA     &kp DOT  &kp SEMI   &kp SLASH
                            &lt 3 ESCAPE  &lt 1 SPACE  &lt 2 TAB    &mt LEFT_SHIFT ENTER  &lt 5 BACKSPACE  &lt 4 DELETE
            >;
        };

        navigation {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &kp C_AC_UNDO  &kp C_AC_CUT  &kp C_AC_COPY  &kp C_AC_PASTE  &kp C_AC_REDO  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &kp LEFT      &kp DOWN       &kp UP          &kp RIGHT      &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans         &kp HOME      &kp PG_DN      &kp PG_UP       &kp END        &trans
                        &trans  &trans  &trans    &trans         &trans        &trans
            >;
        };

        numerals {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp N1  &kp N2  &kp N3  &kp N0  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        funciton {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F7  &kp F8  &kp F9  &kp F12  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F4  &kp F5  &kp F6  &kp F11  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        media {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans  &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans      &trans  &trans        &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans    &bt BT_CLR  &trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3
                        &trans  &trans  &trans    &trans      &trans  &trans
            >;
        };

        symbols {
            bindings = <
&trans  &kp EXCLAMATION  &kp AMPERSAND  &kp ASTERISK  &kp LBKT              &kp RBKT                 &trans  &trans  &trans  &trans  &trans  &trans
&trans  &kp PERCENT      &kp MINUS      &kp DOLLAR    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans           &kp AT         &kp HASH      &kp BACKSLASH         &kp EQUAL                &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &trans                &trans                   &trans  &trans  &trans
            >;
        };
    };
};
